*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    background: #0c111b;
    position: relative;
    font-family: sans-serif;
}
.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 4%;
    background: #0c111b;
    z-index: 9;
    display: flex;
    align-items: center;
}
.logo{
    height: 30px;
}
.nav-link{
    margin-top: 5px;
    display: flex;
    list-style: none;
    float: left;
}
.nav-item a{
    text-decoration: none;
    margin-left: 30px;
    text-transform: capitalize;
    color: #fff;
    opacity: 0.9;
}
.nav-item a:hover{
    font-weight: bold;
}
.right-container{
   
    display: flex;
    margin-left: auto;
}
.search-box{
    border: none;
    border-bottom: 1px solid #aaa;
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    width: 250px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: .5s; 
    background: url("https://www.citypng.com/public/uploads/small/11640439066gvdicej5lgzwysh67xgewiixiqsmd6phvcidruhbvrizlpwtl7qhjckdiizpl7lvj3dgyl780ezhsdo2yp6bqe8tvg7eqvaa1p6n.png") no-repeat right;
    background-size: 20px;
}
.search-box:focus{
    width: 400px;
    border-color: blue;     
}
.sub-btn{
    background: RGB(31, 128, 223);
    height: 30px;
    padding: 0 20px;
    color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    margin : 0 10px;
}
.login-link{
    color: #fff;
    opacity: 0.9;
    text-transform: capitalize;
    font-size: 15px;
    font-weight:700 ;
    text-decoration: none;
    margin-top: 5px;
}
.carousel-container{
    position: relative;
    width: 100%;
    height: 450px;
    padding: 20px 0;
    overflow-x: hidden;
    margin-top: 80px;
    
}
.carousel{
    display : flex;
    width: 92%;
    height: 100%;
    position: relative;
    margin: auto;
    background: black;
    border-radius: 10px;
}
/* .input-icon i {
    padding-right: 25px;
}
.icon{
    color: #fff;
    float: right;
} */
.slider{
    flex: 0 0 auto;
    margin-right: 30px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    weight: 100%;
    height: 100%;;
    left: 0;
    transition: 1s;
    overflow: hidden;
}